<h1>Atualizar Veiculo</h1>

<%= render 'form' %>

<%= link_to 'Ver', @veiculo %> |
<%= link_to 'Veículos', veiculos_path %>
<%= link_to 'Excluir', veiculos_path, confirm: 'Tem certeza que deseja excluir este veículo?', method: :delete %></td>

